@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700');
body {
	font-family: Raleway, sans-serif;
}
/* ....................... Jumbotron and Nav..................... */
.jumbotron {
	background: url(https://images.pexels.com/photos/21387/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb) 0/cover no-repeat;
	height: 80vh;
}
.jumbotron .container h1, .jumbotron .container p {
	color: white;
}
.jumbotron .container h1 {
	padding-top: 20%;
}
.nav > li > a {
	color: white;
	margin-right: 20px;
	font-weight: 700;
}
.nav > li:hover > a {
	background-color: #505D70;
}
.jumbotron button {
	width: 200px;
	height: 46px;
	border-radius: 2px;
	background-color: #e84545;
	margin-top: 40px;
	margin-bottom: 100px;
}
/* ....................... Informations ...................... */
.informations {
	margin-bottom: 110px;
}
.informations img {
	margin-top: 110px;
}
.informations h4 {
	color: #2d3033;
	font-weight: 700;
	font-size: 14px;
	padding-bottom: 20px;
	padding-top: 30px;
}
.informations p {
	color: #6c7279;
	font-weight: 400;
	font-size: 14px;
}
/* ............................ Gallery ........................ */
.img-1 { background: url(https://images.pexels.com/photos/296878/pexels-photo-296878.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-2 { background: url(https://images.pexels.com/photos/3327/construction-work-carpenter-tools.jpg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-3 { background: url(https://images.pexels.com/photos/27665/pexels-photo-27665.jpg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-4 { background: url(https://images.pexels.com/photos/227706/pexels-photo-227706.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-5 { background: url(https://images.pexels.com/photos/31323/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-6 { background: url(https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.img-7 { background: url(https://static.pexels.com/photos/35107/pexels-photo.jpg); }
.img-8 { background: url(https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb); }
.images {
	background-size: cover;
	background-position: center;
	height: 350px;
}
.photo {
	padding-left: 0 !important;
    padding-right: 0 !important;
}

/* ..................... :hover effect .......................*/
figure.effect-bubba {
	background-color: rgba(232, 69, 69, 0.9);
}
figure.effect-bubba:hover .images {
	opacity: 0.4;
	transition: opacity 0.35s;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	color: transparent;
	padding-top: 100px;
	margin: 0;
	text-align: center;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	color: transparent;
	text-align: center;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	
	color: white;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* ................................. Team ..................... */
.team {
	margin-top: 100px;
	margin-bottom: 100px;
}
.team i {
	width: 40px;
	line-height: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	background-color: #ffffff;
	text-align: center;
	font-size: 20px;
	color: #c6cacc;
}
.team i:hover {
	border-color: #fff;
	color: #fff;
	background-color: #c6cacc;
}
.team h3 {
	font-weight: 400;
}
.team h5 {
	color: #e84545;
	font-weight: 400;
}
.team p {
	color: #6c7279;
	font-weight: 400;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
}
/*.............................. Quote ............................. */
.no-border {
 	padding-left: 0 !important;
    padding-right: 0 !important;
}
.carousel .item img {
	
}
.quote .item h2 {
	font-style: italic;
	font-family: 'Cardo', serif;
}
.carousel-caption {
	bottom: 0;
	top: 80px;
	text-align: left;
}
/* ............................. Download ........................... */
.download h1 {
	margin-top: 100px;
	color: #2d3033;
	font-size: 28px;
	font-weight: 300;
	font-family: Raleway;
}
.download button {
	margin-top: 40px;
	margin-bottom: 100px;
	width: 280px;
	height: 46px;
	border-radius: 2px;
	background-color: #e84545;
}
/* ................................ Location&Share ................... */
.locationshare {
	background-color: #3a3e64;
	color: #fff;
}
.locationshare h5 {
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
}
.locationshare p {
	margin-bottom: 100px;
	color: #808080;
	font-weight: 400;
}
.locationshare i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #ffffff;
	background-color: rgba(255, 255, 255, 0);
	font-size: 20px;
}
.locationshare i:hover {
	color: #3a3e64;
	border-color: #3a3e64;
	background-color: #fff;
}
/* ............................. Footer ........................... */
.footer {
	background-color: #313454;
	color: #808080;
}
.white {
	color: white;
}
/* ......................... Media Queries .................... */

@media (max-width: 767px) {
	.jumbotron h1 {
		font-size: 25px;
	}
	.jumbotron p {
		font-size: 15px;
	}
	.carousel .item img {
		height: auto;
	}
	h2 {
		font-size: 20px;
	}
	.carousel-caption {
		top: 0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.jumbotron h1 {
		font-size: 20px;
	}
	.jumbotron p {
		font-size: 12px;
	}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.jumbotron h1 {
		font-size: 35px;
	}
	.jumbotron p {
		font-size: 18px;
	}
	.carousel .item img {
		height: auto;

	}
	h2 {
		font-size: 20px;
	}
	.carousel-caption {
		top: 0;
	}
}

@media (min-width: 1200px) and (max-width:1400px) {
	.jumbotron h1 {
		font-size: 25px;
	}
	.jumbotron p {
		font-size: 15px;
	}
	.carousel-caption {
		top: 0;
	}
	h2 {
		font-size: 20px;
	}
}
